@charset "utf-8";

.update-nag ul{
	padding:0 20px;
	font-size:1.2em;
	font-weight:bold;
}
.update-nag li{
	text-align:left;
}

div.ebook{
	background: url('./book_32.png') left top no-repeat;
}

.icon32-posts-lwp_notification{
	background-image: url('./mail_32.png');
}
.icon32-posts-lwp_subscription{
	background-image: url('./icon-sucscription.png') !important;
	background-position: left top !important;
}
.icon32-posts-ios-product,
.icon32-ios-api{
	background-image: url('./icon-iphone-32.png') !important;
	background-position: 0 0 !important;
}
.icon32-download-logs{
	background-image: url('./icon-download.png') !important;
	background-position: 0 0 !important;
}
.icon32-reward,
.icon32-personal-reward{
	background-image: url('./icon-dollar.png') !important;
	background-position: 0 0 !important;
}
.lwp-wrap h3{
	font-size:22px;
	margin: 2em 0 1em;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.lwp-wrap h3 .experimental{
	color:#888;
	margin-left:5px;
	font-size:0.5em;
}
.lwp-wrap h4{
	font-size:18px;
	color:#666;
}
.lwp-api-list h4{
	margin-top: 1em;
	padding-top: 1em;
	border-top:1px dotted #ccc;
}
.lwp-api-list h4:first-child{
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.lwp-wrap h5{
	font-size: 14px;
	margin-bottom: 0.5em;
}
.lwp-wrap em{
	font-family: Baskerville,Times,'Times New Roman',serif !important; 
}

/* Help Page */
.help-wrap{
	padding:10px 20px;
}

.help-wrap .alignleft{
	float:left;
	margin:0 20px 20px 0;
}
.help-wrap .alignright{
	float:right;
	margin:0 0 20px 20px;
}
.help-wrap .aligncenter{
	margin:0 auto 20px;
	display: block;
}

.help-wrap h1{
	font-size: 3em;
	margin-bottom:1em;
}

.help-wrap h2{
	clear:both;
	color:#444;
	border-bottom:1px dotted #444;
	padding-bottom:0.3em;
	margin-bottom:0.7em;
	margin-top:1em;
}
.help-wrap ul{
	padding-left:2em;
}
.help-wrap ul li{
	list-style: outside circle;
}
input.short{
	width:3em;
}

/* Transaction Table*/
.detail-table{
	margin-bottom:20px;
}
.detail-table tbody th,
.detail-table tbody td{
	border-bottom:1px solid #eee;
}
.detail-table th{
	font-weight:bold;
}
.detail-table tbody tr:nth-child(even) th,
.detail-table tbody tr:nth-child(even) td{
	background:#f9f9f9;
}
.form-table thead th,
.form-table thead td{
	background:#f0f0f0;
	border-bottom:1px solid #eee;
}

/* Summary Table */
#lwp-dashboard-amount{
	width: 50%;
	float:left;
	min-width: 400px;
	}
	#lwp-dashboard-amount .pie-chart{
		width:400px;
		height:400px;
	}
#lwp-dashboard-ranking{
	width:45%;
	float:right;
	margin-top:20px;
}
#lwp-dashboard-daily{
	clear:both;
	padding-top: 25px;
	}
	#lwp-dashboard-daily .area-chart{
		height:400px;
	}

/* Event Detail */	
#lwp-event-detail h4 {
	font-size: 12px;
	padding: 0 6px 6px;
	margin-right: 6px;
	margin-left: 6px;
	line-height: 1.5;
	border-bottom: 1px solid #DFDFDF;
}
.postbox .form-table label{
	font-weight: bold;
}
#lwp-event-setting{
	
}
#cancel-date-list{
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-kml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px;
	}
	#cancel-date-list li{
		margin: 3px 0;
		}
		#cancel-date-list li.no-cancelable-date{
			color: #ccc;
			text-align: center;
			display: none;
		}
		#cancel-date-list.zero .no-cancelable-date{
			display: block;
		}
		#ticket_post_content{
			width: 90%;
			resize: vertical;
		}
#ticket_cancel{
	float: right;
}
.postbox .ticket-status .editting,
.postbox .ticket-status-editting .newly-add{
	display: none;
	}
	.postbox .ticket-status-editting .editting{
		display: inline;
	}
#ticket-list-table{
	table-layout: auto;
	}
	#ticket-list-table td.loading{
		background: transparent url('./indicator-postbox.gif') right center no-repeat;
	}
	.postbox p.loading{
		background: transparent url('./indicator-postbox.gif') center center no-repeat;
	}
/* Sumamry */
.lwp-wrap h3.clear{
	clear: both;
	margin-top: 2em;
}
.lwp-wrap .summary-table{
	max-width: 45%;
	float: left;
	border-collapse: collapse;
}
.lwp-wrap .summary-table.alignright{
	float: right;
}
.lwp-wrap .summary-table th,
.lwp-wrap .summary-table td{
	padding:10px;
	border-bottom: 1px solid #ddd;
}
.lwp-wrap .summary-table th{
	vertical-align: top;
	text-align: left;
}
.lwp-wrap .summary-table tfoot th,
.lwp-wrap .summary-table tfoot td{
	background: #FEF8C4;
}

.lwp-wrap .summary-table .error{
	color: #F00;
}
.lwp-event-table-list{
	margin: 3px 0;
}
.lwp-event-table-list li{
	margin-bottom: 3px;
}
span.lwp-transaction-ok{
	display: block;
	padding-left: 20px;
	background: url('./icon-accepted.png') left center no-repeat;
	color: #319F32;
	white-space: nowrap;
}
span.lwp-transaction-error{
	white-space: nowrap;
	display: block;
	padding-left: 20px;
	color: #f00;
	background: url('./icon-cancel.png') left center no-repeat;
}
span.lwp-transaction-ok small,
span.lwp-transaction-error small{
	display: block;
}
table.download-logs td.column-file_name code{
	display: block;
}
table.download-logs td.downloaded{
	white-space: nowrap;
}
table.download-logs td.user_agent{
	max-width: 20em;
	/*
	display: block;
	height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	*/
}
/*
table.download-logs td.user_agent span:hover{
	text-decoration: underline;
	color: #999;
}
*/
/* author message */
.lwp-author-msg{
	margin :20px 0;
	padding: 20px;
	background: #d0d0d0 url('./bg-texture-gray.jpg') left top repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-shadow: 1px 1px 2px #fff;
}
.lwp-author-msg h3{
	margin-top: 0;
	border-bottom: none;	
}
.lwp-author-msg .paypal-donate{
	width: 300px;
	padding: 20px;
	background: #fff;
	float: right;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0 0 20px 20px;
}

.lwp-author-msg .avatar{
	float: left;
	margin:0 20px 20px 0;
}
.lwp-author-msg .bio{
	font-size: 1.2em;
}
.lwp-author-msg .notice{
	height: 16px;
	line-height:16px;
	clear:both; 
	color: #888;
}
.lwp-author-msg  dt{
	font-weight: bold;
	font-size: 1.2em;
}
.lwp-author-msg  dd{
	margin: 5px 0 10px;
	font-size: 1.1em;
	padding-left: 5px;
	border-left: 3px solid #aaa;
}
/* Table for metabox */
.lwp-metabox-table{
	width: 100%;
}
.lwp-metabox-table th{
	white-space: nowrap;
	text-align: left;
}
.lwp-metabox-table input{
	width: 8em;
}
.postbox p.uploader{
	text-align: center;
}
hr.lwp-divider{
	border:none;
	margin: 1em 0;
	border-top: 1px dotted #dfdfdf;
}
.postbox p.error{
	border: 1px solid #C00;
	background: #FFEBE8;
	color: #333;
	padding: 5px 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* Uploader */
.lwp-uploader-tabel th,
.lwp-uploader-tabel td{
	padding: 5px;
}
.lwp-uploader-tabel th{
	text-align: left;
	white-space: nowrap;
}
.lwp-uploader-tabel p.help{
	color: #888;
	margin: 0.5em 0;
}
/* Form table */
.lwp-form-table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
	font-size: 14px;
	table-layout: fixed;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.lwp-form-table th,
.lwp-form-table td{
	padding: 10px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	text-shadow: 1px 1px 2px #fff;
}
.lwp-form-table th{
	font-weight: normal;
	text-align: left;
}
.lwp-form-table td{
	
}
.lwp-form-table thead th,
.lwp-form-table tfoot td{
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.lwp-form-table tbody th{
	white-space: nowrap;
	font-weight: bold;
}
.lwp-form-table tbody td{
	color: #666;
}
.lwp-form-table tbody td.status{
	padding-left: 34px;
	background-image: url('./icon-cancel.png');
	background-position: 10px center;
	background-repeat: no-repeat;
}
.lwp-form-table tbody .enabled td.status{
	background-image: url('./icon-accepted.png');
}
.lwp-form-table tbody tr:nth-child(2n) td,
.lwp-form-table tbody tr:nth-child(2n) th{
	background-color: #f9f9f9;
}
.lwp-form-table tfoot td{
	font-size: 11px;
	font-style: italic;
	text-align: right;
	color: #aaa;
	padding: 5px 10px;
}

.lwp-main-container{
	width: 100%;
	float: left;
}
.lwp-container-inner{
	margin-right: 360px;
}
.lwp-sidebar{
	float: left;
	width: 300px;
	margin-left: -340px;
	margin-top: 20px;
	padding: 10px 19px;
	background: #fcfcfc;
	border: 1px solid #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.lwp-sidebar dt{
	font-size: 1.2em;
	font-weight: bold;
	color: #888;
	margin-bottom: 0.5em;
}
.lwp-sidebar .banner{
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
}
.lwp-sidebar dd{
	margin: 0 0 1.5em;
	color: #888;
	font-size: 1.1em;
}

@media only screen and (max-width : 799px){
	.lwp-main-container{
		margin-right: 0;
	}
	.lwp-sidebar{
		display: none;
	}
}