@charset "utf-8";

.update-nag ul{
	padding:0 20px;
	font-size:1.2em;
	font-weight:bold;
}
.update-nag li{
	text-align:left;
}

div.ebook{
	background: url('./book_32.png') left top no-repeat;
}

.icon32-posts-lwp_notification{
	background-image: url('./mail_32.png');
}
.lwp-wrap h3{
	font-size:22px;
	margin: 2em 0 1em;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.lwp-wrap h3 .experimental{
	color:#888;
	margin-left:5px;
	font-size:0.5em;
}
.lwp-wrap h4{
	font-size:18px;
	color:#666;
}
.lwp-wrap em{
	font-family: Baskerville,Times,'Times New Roman',serif !important; 
}

/* Help Page */
.help-wrap{
	padding:10px 20px;
}

.help-wrap .alignleft{
	float:left;
	margin:0 20px 20px 0;
}
.help-wrap .alignright{
	float:right;
	margin:0 0 20px 20px;
}
.help-wrap .aligncenter{
	margin:0 auto 20px;
	display: block;
}

.help-wrap h1{
	font-size: 3em;
	margin-bottom:1em;
}

.help-wrap h2{
	clear:both;
	color:#444;
	border-bottom:1px dotted #444;
	padding-bottom:0.3em;
	margin-bottom:0.7em;
	margin-top:1em;
}
.help-wrap ul{
	padding-left:2em;
}
.help-wrap ul li{
	list-style: outside circle;
}
input.short{
	width:3em;
}

/* Transaction Table*/
.detail-table{
	margin-bottom:20px;
}
.detail-table tbody th,
.detail-table tbody td{
	border-bottom:1px solid #eee;
}
.detail-table th{
	font-weight:bold;
}
.detail-table tbody tr:nth-child(even) th,
.detail-table tbody tr:nth-child(even) td{
	background:#f9f9f9;
}
.form-table thead th,
.form-table thead td{
	background:#f0f0f0;
	border-bottom:1px solid #eee;
}

/* Summary Table */
#lwp-dashboard-amount{
	width: 50%;
	float:left;
	min-width: 400px;
	}
	#lwp-dashboard-amount .pie-chart{
		width:400px;
		height:400px;
	}
#lwp-dashboard-ranking{
	width:45%;
	float:right;
	margin-top:20px;
}
#lwp-dashboard-daily{
	clear:both;
	padding-top: 25px;
	}
	#lwp-dashboard-daily .area-chart{
		height:400px;
	}

/* Event Detail */	
#lwp-event-detail h4 {
	font-size: 12px;
	padding: 0 6px 6px;
	margin-right: 6px;
	margin-left: 6px;
	line-height: 1.5;
	border-bottom: 1px solid #DFDFDF;
}
.postbox .form-table label{
	font-weight: bold;
}
#lwp-event-setting{
	
}
#cancel-date-list{
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-kml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px;
	}
	#cancel-date-list li{
		margin: 3px 0;
		}
		#cancel-date-list li.no-cancelable-date{
			color: #ccc;
			text-align: center;
			display: none;
		}
		#cancel-date-list.zero .no-cancelable-date{
			display: block;
		}
		#ticket_post_content{
			width: 90%;
			resize: vertical;
		}
#ticket_cancel{
	float: right;
}
.postbox .ticket-status .editting,
.postbox .ticket-status-editting .newly-add{
	display: none;
	}
	.postbox .ticket-status-editting .editting{
		display: inline;
	}
#ticket-list-table{
	table-layout: auto;
	}
	#ticket-list-table td.loading{
		background: transparent url('./indicator-postbox.gif') right center no-repeat;
	}
	.postbox p.loading{
		background: transparent url('./indicator-postbox.gif') center center no-repeat;
	}
/* Sumamry */
.lwp-wrap h3.clear{
	clear: both;
	margin-top: 2em;
}
.lwp-wrap .summary-table{
	max-width: 45%;
	float: left;
	border-collapse: collapse;
}
.lwp-wrap .summary-table.alignright{
	float: right;
}
.lwp-wrap .summary-table th,
.lwp-wrap .summary-table td{
	padding:10px;
	border-bottom: 1px solid #ddd;
}
.lwp-wrap .summary-table th{
	vertical-align: top;
	text-align: left;
}
.lwp-wrap .summary-table tfoot th,
.lwp-wrap .summary-table tfoot td{
	background: #FEF8C4;
}

.lwp-wrap .summary-table .error{
	color: #F00;
}
.lwp-event-table-list{
	margin: 3px 0;
}
.lwp-event-table-list li{
	margin-bottom: 3px;
}

.lwp-author-msg{
	margin :20px 0;
	padding: 20px;
	background: #d0d0d0 url('./bg-texture-gray.jpg') left top repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-shadow: 1px 1px 2px #fff;
}
.lwp-author-msg h3{
	margin-top: 0;
	border-bottom: none;	
}
.lwp-author-msg .paypal-donate{
	width: 300px;
	padding: 20px;
	background: #fff;
	float: right;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0 0 20px 20px;
}

.lwp-author-msg .avatar{
	float: left;
	margin:0 20px 20px 0;
}
.lwp-author-msg .bio{
	font-size: 1.2em;
}
.lwp-author-msg .notice{
	height: 16px;
	line-height:16px;
	clear:both; 
	color: #888;
}
.lwp-author-msg  dt{
	font-weight: bold;
	font-size: 1.2em;
}
.lwp-author-msg  dd{
	margin: 5px 0 10px;
	font-size: 1.1em;
	padding-left: 5px;
	border-left: 3px solid #aaa;
}