@charset "utf-8";

.update-nag ul{
	padding:0 20px;
	font-size:1.2em;
	font-weight:bold;
}
.update-nag li{
	text-align:left;
}

div.ebook{
	background:url(./book_32.png) left top no-repeat;
}

.wrap h3{
	font-size:22px;
	margin: 2em 0 1em;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.wrap h3 .experimental{
	color:#888;
	margin-left:5px;
	font-size:0.5em;
}
.wrap h4{
	font-size:18px;
	color:#666;
}

.wrap h4:before{
	content: "√"
}
.wrap em{
	font-family: Baskerville,Times,'Times New Roman',serif !important; 
}


/* Help Page */
.help-wrap{
	padding:10px 20px;
}

.help-wrap .alignleft{
	float:left;
	margin:0 20px 20px 0;
}
.help-wrap .alignright{
	float:right;
	margin:0 0 20px 20px;
}
.help-wrap .aligncenter{
	margin:0 auto 20px;
	display: block;
}

.help-wrap h1{
	font-size: 3em;
	margin-bottom:1em;
}

.help-wrap h2{
	clear:both;
	color:#444;
	border-bottom:1px dotted #444;
	padding-bottom:0.3em;
	margin-bottom:0.7em;
	margin-top:1em;
}
.help-wrap ul{
	padding-left:2em;
}
.help-wrap ul li{
	list-style: outside circle;
}
input.short{
	width:3em;
}

/* Transaction Table*/
.detail-table{
	margin-bottom:20px;
}
.detail-table tbody th,
.detail-table tbody td{
	border-bottom:1px solid #eee;
}
.detail-table th{
	font-weight:bold;
}
.detail-table tbody tr:nth-child(even) th,
.detail-table tbody tr:nth-child(even) td{
	background:#f9f9f9;
}
.form-table thead th,
.form-table thead td{
	background:#f0f0f0;
	border-bottom:1px solid #eee;
}

/* Summary Table */
#lwp-dashboard-amount{
	width: 50%;
	float:left;
	min-width: 400px;
	}
	#lwp-dashboard-amount .pie-chart{
		width:400px;
		height:400px;
	}
#lwp-dashboard-ranking{
	width:45%;
	float:right;
	margin-top:20px;
}
#lwp-dashboard-daily{
	clear:both;
	padding-top: 25px;
	}
	#lwp-dashboard-daily .area-chart{
		height:400px;
	}
