@charset "utf-8";

@import "compass/css3/border-radius";


/*
------------------
Headers
------------------
*/
/* Update Area */
.update-nag{
	ul{
		padding: 0 20px;
		font-size: 1.2em;
		font-weight: bold;
		li{
			text-align: left;
		}
	}
}
/* Header icons */
div.ebook{
	background: url('../../book_32.png') left top no-repeat;
}
.icon32-posts-lwp_notification{
	background-image: url('../../mail_32.png');
}
.icon32-posts-lwp_subscription{
	background-image: url('../../icon-sucscription.png') !important;
	background-position: left top !important;
}
.icon32-posts-ios-product,
.icon32-ios-api{
	background-image: url('../../icon-iphone-32.png') !important;
	background-position: 0 0 !important;
}
.icon32-download-logs{
	background-image: url('../../icon-download.png') !important;
	background-position: 0 0 !important;
}
.icon32-reward,
.icon32-refund,
.icon32-history,
.icon32-personal-reward{
	background-image: url('../../icon-dollar.png') !important;
	background-position: 0 0 !important;
}

/* Tab navigation */
small.tab-count{
	padding: 3px 5px;
	background: #464646;
	color: #fff;
	font-size: 0.6em;
	@include border-radius(10px);
}





/*
------------------
Main Column
------------------
*/
.lwp-wrap{
	/* headers */
	h3{
		font-size: 22px;
		margin: 2em 0 1em;
		padding-bottom: 10px;
		border-bottom: 1px dotted #ccc;
		&.clear{
			clear: both;
			margin-top: 2em;
		}
	}
	.experimental{
		color :#888;
		margin-left: 5px;
		font-size: 0.5em;
	}
	h4{
		font-size: 18px;
		color: #666;
	}
	h5{
		font-size: 14px;
		margin-bottom: 0.5em;
	}
	em{
		font-family: Baskerville,Times,'Times New Roman',serif !important; 
	}
}
li .experimental{
	color: #888;
	margin-left: 5px;
	font-weight: bold;
}
/* 2 Column  */
.lwp-main-container{
	width: 100%;
	float: left;
}
.lwp-container-inner{
	margin-right: 360px;
}





/*
------------------
API Manual
------------------
*/
.lwp-api-list{
	clear: both;
	h4{
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px dotted #ccc;
		font-size: 24px;
		line-height: 32px;
		height: 32px;
		span{
			margin-right: 1em;
			padding-left: 40px;
			background: url('../../icon-ios.png') left center no-repeat;
		}
		.android{
			background-image: url('../../icon-android.png');
		}
		&.apple .android,
		&.android .apple{
			display: none;
		}
	}
	.api-index{
		width: 310px;
		float: right;
		margin:20px 0 0 1em;
		border: 1px solid #ccc;
		@include border-radius(10px);
		padding: 20px;
		background-color: #f9f9f9;
		h5{
			margin: 0 0 1em;
		}
		ul{
			margin-bottom: 1em;
			&:first-child{
				padding-bottom: 1em;
				border-bottom: 1px dotted #ccc;
			}
		}
	}
}






/*
------------------
Help Page
------------------
*/
.help-wrap{
	padding:10px 20px;
	.alignleft{
		float: left;
		margin: 0 20px 20px 0;
	}
	.alignright{
		float: right;
		margin: 0 0 20px 20px;
	}
	.aligncenter{
		margin: 0 auto 20px;
		display: block;
	}

	h1{
		font-size: 3em;
		margin-bottom:1em;
	}

	h2{
		clear: both;
		color: #444;
		border-bottom: 1px dotted #444;
		padding-bottom: 0.3em;
		margin-bottom: 0.7em;
		margin-top: 1em;
	}
	ul{
		padding-left: 2em;
		li{
			list-style: outside circle;
		}
	}
}





/*
------------------
Elements
------------------
*/
input.short{
	width:3em;
}
p.invalid{
	color: #f00;
	margin: 0.25em 0;
	padding: 0.25em 0.5em;
	background-color: #ffebe8;
	@include border-radius(3px);
}
small.required{
	color: crimson;
}
p.required{
	color: orange;
	margin: 0.25em 0;
}
hr.lwp-divider{
	border:none;
	margin: 1em 0;
	border-top: 1px dotted #dfdfdf;
}
pre.bash{
	font-family: monospace;
	padding: 0.5em;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	background-color: #f9f9f9;
	span{
		color: #999;
	}
}
.ui-dialog-btn{
	padding: 3px 1em 3px 20px;
	text-decoration: none;
	position: relative;
	font-size: 10px;
	.ui-icon{
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
		zoom: 1;
	}
}
.ui-dialog td.ui-state-error{
	border: none;
}

/*
------------------
Sidebar
------------------
*/
.lwp-sidebar{
	float: left;
	width: 300px;
	margin-left: -340px;
	margin-top: 20px;
	padding: 10px 19px;
	background: #fcfcfc;
	border: 1px solid #ddd;
	@include border-radius(10px);
	dt{
		font-size: 1.2em;
		font-weight: bold;
		color: #888;
		margin-bottom: 0.5em;
		padding-top: 1.5em;
		border-top: 3px double #f0f0f0;
		&:first-child{
			padding-top: 0;
			border-top: none;
		}
	}
	dd{
		margin: 0 0 1.5em;
		color: #888;
		font-size: 1.1em;
	}
	.banner img{
		margin: 0 0.5em 0.5em 0;
		float: left;
	}
	.center{
		text-align: center;
	}
	.paypal{
		display: inline-block;
		background: url('../../icon-payment-method@2x.png') left bottom no-repeat;
		width: 130px;
		height: 80px;
		text-indent: 130px;
		overflow: hidden;
	}
}
.validate-tips{
	text-align: right;
	& + p{
		padding: 0.5em 1em;
	}
}
#lwp-pa-contact{
	table{
		border-collapse: collapse;
	}
	th{
		text-align: right;
		white-space: nowrap;
	}
	th,td{
		padding:10px 5px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	td{
		label{
			display: inline-block;
			margin-right: 0.5em;
		}
	}
	tr:nth-child(even){
		th,td{
			background-color: #f9f9f9;
		}
	}
}





/*
------------------
Author message
------------------
*/
.lwp-author-msg{
	margin :20px 0;
	padding: 20px;
	background: #d0d0d0 url('../../bg-texture-gray.jpg') left top repeat;
	@include border-radius(10px);
	text-shadow: 1px 1px 2px #fff;
	h3{
		margin-top: 0;
		border-bottom: none;	
	}
	.paypal-donate{
		width: 300px;
		padding: 20px;
		background: #fff;
		float: right;
		@nclude border-radius(10px);
		margin: 0 0 20px 20px;
	}
	.avatar{
		float: left;
		margin:0 20px 20px 0;
	}
	.bio{
		font-size: 1.2em;
	}
	.notice{
		height: 16px;
		line-height:16px;
		clear: both; 
		color: #888;
	}
	 dt{
		font-weight: bold;
		font-size: 1.2em;
	}
	 dd{
		margin: 5px 0 10px;
		font-size: 1.1em;
		padding-left: 5px;
		border-left: 3px solid #aaa;
	}
}
.validate-tips{
	border: 1px solid transparent;
	padding: 0.3em;
}







/*
------------------
General Compornents
------------------
*/
/* Form table override */
.form-table{
	thead{
		th,td{
			background: #f0f0f0;
			border-bottom: 1px solid #eee;
		}
	}
}
#lwp-tab .form-table{
	tbody{
		tr:nth-child(even){
			td,th{
				background-color: #f9f9f9;
			}
		}
	}
}
/* Avoid form Fields input to be boxed. */
.lwp-form-field{
	input[type=checkbox],
	input[type=radio]{
		width: auto;
	}
	input#price{
		width: 40%;
	}
}
/* Table for metabox */
.lwp-metabox-table{
	width: 100%;
	th{
		white-space: nowrap;
		text-align: left;
	}
	input{
		width: 8em;
	}
	
}
/* Postbox utils */ 
.postbox{
	p.uploader{
		text-align: center;
	}
	p.error{
		border: 1px solid #C00;
		background: #FFEBE8;
		color: #333;
		padding: 5px 7px;
		@include border-radius(5px);
	}
	.form-table label{
		font-weight: bold;
	}
	p.loading{
		background: transparent url('../../indicator-postbox.gif') center center no-repeat;
	}
}
/* Tag button style container*/
.button-container{
	margin: 0.5em 5% 0.5em 0;
	border:1px solid #ddd;
	padding: 1em;
	background-color: #f9f9f9;
	@include border-radius(5px);
}
/* Status table */
.lwp-form-table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
	font-size: 14px;
	table-layout: fixed;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	th,td{
		padding: 10px;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		text-shadow: 1px 1px 2px #fff;
		background-color: #fff;
	}
	th{
		font-weight: normal;
		text-align: left;
	}
	td{

	}
	thead th,
	tfoot td{
		background: #ededed; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	}
	tbody{
		th{
			white-space: nowrap;
			font-weight: bold;
		}
		td{
			color: #666;
			&.status{
				padding-left: 34px;
				background-image: url('../../icon-cancel.png');
				background-position: 10px center;
				background-repeat: no-repeat;
			}
		}
		.enabled td.status{
			background-image: url('../../icon-accepted.png');
		}
		tr:nth-child(2n){
			td,th{
				background-color: #f9f9f9;
			}
		}
	}
	tfoot td{
		font-size: 11px;
		font-style: italic;
		text-align: right;
		color: #aaa;
		padding: 5px 10px;
	}
}
.lwp-ios-status-table{
	width: 350px;
	float: right;
	margin-left: 1em;
	table-layout: auto;
}




/*
------------------
Transaction Detail
------------------
*/
.detail-table{
	margin-bottom:20px;
	tbody{
		th,td{
			border-bottom: 1px solid #eee;
		}
		th{
			font-weight: bold;
		}
		tr:nth-child(even){
			th,td{
				background: #f9f9f9;
			}
		}
	}
}




	
/*
------------------
Summary Page
------------------
*/
/* Containers */
#lwp-dashboard-amount{
	width: 50%;
	float:left;
	min-width: 400px;
	.pie-chart{
		width:400px;
		height:400px;
	}
}
#lwp-dashboard-ranking{
	width:45%;
	float: right;
	margin-top:20px;
}
#lwp-dashboard-daily{
	clear: both;
	padding-top: 25px;
	.area-chart{
		height:400px;
	}
}
/* Sumamry Table */
.lwp-wrap .summary-table{
	max-width: 45%;
	float: left;
	border-collapse: collapse;
	&.alignright{
		float: right;
	}
	th,td{
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	th{
		vertical-align: top;
		text-align: left;
	}
	tfoot{
		th,td{
			background: #FEF8C4;
		}
	}
	.error{
		color: #F00;
	}
}




/*
------------------
Event Detail on Post screen
------------------
*/
/* header */
#lwp-event-detail h4 {
	font-size: 12px;
	padding: 0 6px 6px;
	margin-right: 6px;
	margin-left: 6px;
	line-height: 1.5;
	border-bottom: 1px solid #DFDFDF;
}
/* Cancel detail */
#cancel-date-list{
	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(3px);
	padding: 5px;
	margin-bottom: 5px;
	li{
		margin: 3px 0;
		&.no-cancelable-date{
			color: #ccc;
			text-align: center;
			display: none;
		}
	}
	&.zero .no-cancelable-date{
		display: block;
	}
}
#ticket_post_content{
	width: 90%;
	resize: vertical;
}
#ticket_cancel{
	float: right;
}
.postbox{
	.ticket-status .editting,
	.ticket-status-editting .newly-add{
		display: none;
	}
	.ticket-status-editting .editting{
		display: inline;
	}
}	
#ticket-list-table{
	table-layout: auto;
	td.loading{
		background: transparent url('../../indicator-postbox.gif') right center no-repeat;
	}
}
/* Event Table */
.lwp-event-table-list{
	margin: 3px 0;
	li{
		margin-bottom: 3px;
	}
}




/*
------------------
Download Log
------------------
*/
span.lwp-transaction-ok{
	display: block;
	padding-left: 20px;
	background: url('../../icon-accepted.png') left center no-repeat;
	color: #319F32;
	white-space: nowrap;
}
span.lwp-transaction-error{
	white-space: nowrap;
	display: block;
	padding-left: 20px;
	color: #f00;
	background: url('../../icon-cancel.png') left center no-repeat;
}
span.lwp-transaction-ok small,
span.lwp-transaction-error small{
	display: block;
}
table.download-logs{
	td.column-file_name code{
		display: block;
	}
	td.downloaded{
		white-space: nowrap;
	}
	td.user_agent{
		max-width: 20em;
	}
}





/*
------------------
Uploader
------------------
*/
.lwp-uploader-table{
	th,td{
		padding: 5px;
	}
	th{
		text-align: left;
		white-space: nowrap;
	}
	p.help{
		color: #888;
		margin: 0.5em 0;
	}
}





/*
------------------
Uploader
------------------
*/
#campaign-post-list{
	background-image: url('../../indicator-postbox.gif');
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 16px;
	min-width: 32px;
	display: none;
	.ui-menu-item{
		background-color: #fff;
	}
}









/*
------------------
For Responsive
------------------
*/
@media only screen and (max-width : 799px){
	.lwp-container-inner{
		margin-right: 0 !important;
	}
	.lwp-sidebar{
		display: none;
	}
	.lwp-ios-status-table{
		width: 100% !important;
		float: none !important;
		margin: 0 0 1em 0 !important;
	}
}
